<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Theme</h2>
  <ion-segment color="primary" [(ngModel)]="colorScheme" (ionChange)="colorSchemeChanged()">
    <ion-segment-button value="auto">
      <ion-label>Auto</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dark">
      <ion-label>Dark</ion-label>
    </ion-segment-button>
    <ion-segment-button value="light">
      <ion-label>Light</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
